<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center>Damas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <ion-img src="/assets/e.jpg"></ion-img>
    <h1>Esencia 4YOU Precio C$350</h1>
    <ion-img src="/assets/i.jpg"></ion-img>
    <h1>Esencia Turquiose Precio C$320</h1>
    <ion-img src="/assets/m.jpg"></ion-img>
    <h1>Esencia Strawberry Fantasy Precio C$380</h1>
    <ion-img src="/assets/n.jpg"></ion-img>
    <h1>Esencia Colors Precio C$300</h1>
    <ion-img src="/assets/o.jpg"></ion-img>
    <h1>Esencia Rasberry Precio C$350</h1>
    <ion-img src="/assets/s.jpg"></ion-img>
    <h1>Esencia Pink Precio C$400</h1>
    <ion-img src="/assets/t.jpg"></ion-img>
    <h1>Esencia 4YOU Precio C$380</h1>   

</ion-content>
