<ion-header>
  <ion-toolbar color= "success">
    <ion-title text-center>Principes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-img src="/assets/a.jpg"></ion-img>
<h1>Fragancia Escada Precio C$300</h1>
<ion-img src="/assets/b.jpg"></ion-img>
<h1>Fragancia Aroma Frutal Advengers Precio C$350</h1>
<ion-img src="/assets/c.jpg"></ion-img>
<h1>Fragancia Baby Tius Precio C$250</h1>
<ion-img src="/assets/g.jpg"></ion-img>
<h1>Fragancia Kids Dinosaurio Precio C$280</h1>
<ion-img src="/assets/h.jpg"></ion-img>
<h1> Fragancia Kids Mariquita Precio C$300</h1>
                
</ion-content>
