<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Caballeros</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
<ion-img src="/assets/j.jpg"></ion-img>
<h1>Fragancia Gentleman Precio C$350</h1>
<ion-img src="/assets/k.jpg"></ion-img>
<h1>Fragancia Gold Woods Precio C$500</h1>
<ion-img src="/assets/l.jpg"></ion-img>
<h1>Fragancia Ice Musk C$450</h1>
<ion-img src="/assets/d.jpg"></ion-img>
<h1>Kit Fraiche Precio C$700</h1>
<ion-img src="/assets/q.jpg"></ion-img>
<h1>Fragancia Spirit Precio C$350</h1>
<ion-img src="/assets/p.jpg"></ion-img>
<h1>Fragancia 4Element Precio C$400</h1>
<ion-img src="/assets/r.jpg"></ion-img>
<h1>Perfume Aqua Precio C$380</h1>    
</ion-content>
