<ion-header>
  <ion-toolbar Color= "success">
    <ion-title text-center>
      Fragancias Fraiche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  ¡¡Bienvenido a Fragancias Fraiche!!

<p>
  Somos una empresa de Fragancias y Esencias comprometida con ofrecer a nuestros clientes una mejor
        opción personalizada de excelente calidad y a un precio justo.
<p>

<p>
        <ion-img src="/assets/f.png"></ion-img>
<p>



<p>
  
<ion-button class="button button-clear" (click)='Categoria()' fill="clear">Categoria</ion-button> 

<p>
  

<ion-title text-center>Somos Unicos</ion-title>

</ion-content>
