<ion-header>
  <ion-toolbar color = "secondary">
    <ion-title text-center>Categoria</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p><ion-button expand="full" routerLink="/damas" fill="clear">
  Damas</ion-button>
  </p>

  <p><ion-button expand="full" routerLink="/caballeros" fill="clear">
  Caballeros</ion-button>
  </p>

  <p><ion-button expand="full" routerLink="/principes"  fill="clear">
  Principes</ion-button>
  </p>



  <p>
    <ion-img src="/assets/w.png"></ion-img>
  <p>

 <p><ion-title text-center>Somos tu mejor opción</ion-title></p>
</ion-content>
